.thongbao{
    background-color: red;
    font-size: 15px;
    color: black;
}

.quydoi{
    background-color: red;
    font-size: 20px;
    color: yellow;
}

.btnThongbao{
    background-color: red;
    font-size: 20px;
    color: yellow;
}

.bxtThongbao{
    background-color: red;
    font-size: 20px;
    color: yellow;
}


.btnTongSo{
    background-color: red;
    font-size: 20px;
    color: yellow;
}
